body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 18px;
    color: #666;
    font-weight: 100;
    line-height: normal;
    text-align: center;
}